.container {
  font-family: 'Righteous', cursive;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  background-color: #5a8563;
  border-radius: 15px;
}

.loginForm {
  font-family: 'Righteous', cursive;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: #cdbc66;
  border-radius: 0 0 15px 15px;

  input{
    font-family: 'Righteous', cursive;
    font-size: 20px;
    margin:0.5rem;
    padding: 0.25rem;
    border-radius: 15px;
    height: 1.5rem;
  }
  input:focus{
    outline: none;
  }
  button{
    font-family: 'Righteous', cursive;
    background-color: #5a8563;
    border-radius: 15px;
    max-width: 10rem;
    align-self: center;
    transition: 1s ease-in-out;
  }
  button:hover{
  transform: scale(1.2);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;

  img {
    margin: 1rem;
    visibility: hidden;
  }

  ol {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #cdbc66 1px solid;
    border-radius: 15px;
    transition: 1s ease-in-out;
  }

  ol:hover {
    background-color: #cdbc66;


    img {
      visibility: visible;
    }
  }
}
